body {
    margin: 0;
    background-color: white;
    color: black;
}
.wrapper {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-areas: "header header header"
                          "navbar profile profile"
                          "navbar messages friends";
    grid-gap: 10px;
    grid-template-columns: 2fr 10fr;
    
}
.wrapper > div {
    /* background-color: rgb(110, 55, 105); */
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(213,213,213);
}
.header {
    grid-area: header;
    
}
.navbar {
    grid-area: navbar;
}
.profile {
    grid-area: profile;
}
.message {
    grid-area: messages;
}
.friends {
    grid-area: friends;
}